/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: #f5f4f4;
}
body header {
  position: fixed;
  width: 100%;
  background-color: #deb15a;
  box-shadow: 0px 0px 13px 0px rgba(166, 165, 165, 0.9);
  z-index: 5;
}
body header div.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  max-width: 1200px;
  min-width: 768px;
  height: 5em;
  margin: 0 auto;
}
body header div.container > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  min-width: 110px;
  width: 10%;
  text-decoration: none;
  color: #424f5e;
  -webkit-transition: color 250ms linear;
  -moz-transition: color 250ms linear;
  -ms-transition: color 250ms linear;
  transition: color 250ms linear;
}
body header div.container > a svg {
  width: 26px;
  fill: currentColor;
}
body header div.container > a h1 {
  font-size: 1.81em;
  font-weight: 400;
  letter-spacing: -.025em;
  line-height: 75%;
}
body header div.container > a:hover {
  color: #f5f4f4;
}
body header div.container div.menu {
  width: 40%;
}
body header div.container div.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
body header div.container div.menu ul li {
  padding: .5em;
}
body header div.container div.menu ul li a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #424f5e;
  -webkit-transition: color 250ms linear;
  -moz-transition: color 250ms linear;
  -ms-transition: color 250ms linear;
  transition: color 250ms linear;
}
body header div.container div.menu ul li a svg {
  width: 16px;
  margin-right: .2em;
  fill: currentColor;
  vertical-align: top;
}
body header div.container div.menu ul li a > span {
  font-family: "Fira Sans", sans-serif;
  font-size: 0.88em;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: uppercase;
}
body header div.container div.menu ul li a > span.balance {
  position: relative;
}
body header div.container div.menu ul li a > span.balance::before, body header div.container div.menu ul li a > span.balance::after {
  position: absolute;
  display: inline-block;
  width: 100%;
  left: 110%;
  font-size: 12px;
  font-weight: 500;
  color: #424f5e;
}
body header div.container div.menu ul li a > span.balance::before {
  top: -8px;
  content: '$ 40.00';
}
body header div.container div.menu ul li a > span.balance::after {
  top: 8px;
  content: '$ 50.00';
  opacity: .6;
}
body header div.container div.menu ul li a:hover {
  color: #fff;
}
body header div.container div.account {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}
body header div.container div.account a.new-order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 108px;
  padding: .9em .6em;
  border-radius: 5px;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.25);
  font-family: "Fira Sans", sans-serif;
  font-size: 0.88em;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #424f5e;
  -webkit-transition: color 250ms linear;
  -moz-transition: color 250ms linear;
  -ms-transition: color 250ms linear;
  transition: color 250ms linear;
}
body header div.container div.account a.new-order:hover {
  color: #fff;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.55);
}
body header div.container div.account a.new-order svg {
  width: 15%;
  fill: currentColor;
}
body header div.container div.account > a:nth-of-type(2) {
  width: 20px;
  margin-left: 1em;
  color: #424f5e;
  -webkit-transition: color 250ms linear;
  -moz-transition: color 250ms linear;
  -ms-transition: color 250ms linear;
  transition: color 250ms linear;
}
body header div.container div.account > a:nth-of-type(2):hover {
  color: #fff;
}
body header div.container div.account > a:nth-of-type(2) svg {
  width: 100%;
  fill: currentColor;
}
body header div.container div.account > a:nth-of-type(3) {
  position: relative;
  width: 20px;
  margin-left: 1em;
  color: #424f5e;
}
body header div.container div.account > a:nth-of-type(3):hover {
  color: #fff;
}
body header div.container div.account > a:nth-of-type(3) svg {
  width: 100%;
  fill: currentColor;
}
body header div.container div.account > a:nth-of-type(3):before {
  position: absolute;
  display: block;
  top: -4px;
  left: 9px;
  width: 9px;
  height: 9px;
  background: #76ac5c;
  border-radius: 9px;
  border: 2px solid #deb15a;
  z-index: 3;
  content: ' ';
}
body header div.container div.account > a:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin: 0 1em;
  color: #424f5e;
  -webkit-transition: color 250ms linear;
  -moz-transition: color 250ms linear;
  -ms-transition: color 250ms linear;
  transition: color 250ms linear;
}
body header div.container div.account > a:last-of-type:hover {
  color: #fff;
}
body header div.container div.account > a:last-of-type svg {
  fill: currentColor;
}
body header div.container div.account > a:last-of-type svg:first-of-type {
  width: 50%;
  border-radius: 100%;
}
body header div.container div.account > a:last-of-type svg:last-of-type {
  width: 40%;
  margin-left: .2em;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 98%;
  max-width: 1200px;
  min-width: 768px;
  min-height: 767px;
  margin: 0 auto;
  padding-top: 5em;
  background-color: #fff;
  box-sizing: border-box;
  color: #424f5e;
}
body main div.tab-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 5em;
  border-bottom: 1px solid #f0efef;
}
body main div.tab-container .tab-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
body main div.tab-container .tab-menu a {
  display: block;
  padding: 0 1.2em 1.2em 1.2em;
  border-bottom: 4px solid transparent;
  transition: all 250ms linear;
  font-weight: 400;
  text-decoration: none;
  color: #424f5e;
}
body main div.tab-container .tab-menu a:hover {
  border-bottom: 4px solid #76ac5c;
  padding: 0 1.8em 1.2em 1.8em;
}
body main div.tab-container .sort-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 1em;
  margin-bottom: 1.2em;
  font-family: "Fira Sans", sans-serif;
  font-size: 0.75em;
  font-weight: 500;
  text-decoration: none;
  color: #424f5e;
  transition: opacity 250ms linear;
}
body main div.tab-container .sort-link:hover {
  opacity: .7;
}
body main div.tab-container .sort-link svg {
  width: 14px;
  margin-left: .5em;
  fill: currentColor;
}
body main div.title-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 98%;
  height: 3em;
}
body main div.title-table p {
  margin-bottom: .5em;
  font-weight: 500;
  font-size: 0.88em;
  opacity: .7;
}
body main div.progress {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  background: #f3f5f7;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  width: 98%;
  height: 6em;
  font-weight: 400;
  font-size: 0.88em;
  box-sizing: border-box;
}
body main div.progress div > p {
  line-height: 1.75em;
  font-size: 1em;
}
body main div.progress div > p:first-of-type {
  font-weight: 500;
}
body main div.progress div.ticket {
  position: absolute;
  height: inherit;
  left: 0;
  top: 0;
  width: 4px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: transparent;
  opacity: .5;
}
body main div.progress div.green-ticket {
  background-color: #76ac5c;
}
body main div.progress div.aqua-ticket {
  background-color: #a6e7f7;
}
body main div.progress div.biege-ticket {
  background-color: #cfbbaf;
}
body main div.progress div.assign {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
body main div.progress div.assign div.user-avatar {
  position: relative;
  width: 42px;
  height: 42px;
  margin-right: .5em;
  border-radius: 42px;
  background-color: transparent;
}
body main div.progress div.assign div.user-avatar a {
  display: block;
  width: 42px;
  height: 42px;
  background-image: url(../img/avatar.png);
}
body main div.progress div.assign div.user-avatar a.assigned-user {
  display: block;
  width: 42px;
  height: 42px;
  background-image: url(../img/avatar.png);
}
body main div.progress div.assign div.user-avatar a.assigned-user:before {
  position: absolute;
  display: block;
  top: 29px;
  left: 30px;
  width: 9px;
  height: 9px;
  background: #76ac5c;
  border-radius: 9px;
  border: 2px solid #deb15a;
  z-index: 3;
  content: ' ';
}
body main div.progress div.status progress {
  height: .6em;
  border-radius: 4px;
}
body main div.progress div.status progress::-webkit-progress-bar {
  background-color: #d9dce2;
  border-radius: 4px;
}
body main div.progress div.status progress::-webkit-progress-value {
  background-color: #76ac5c;
  border-radius: 4px;
}
body main div.progress div.status progress.bidding::-webkit-progress-value {
  background-color: #a6e7f7;
}
body main div.progress div.status progress.bidding::-webkit-progress-value {
  background-color: #a6e7f7;
}
body main div.progress div.status progress.bid-canceled::-webkit-progress-value {
  background-color: #cfbbaf;
}
body main div.progress div.status progress::-moz-progress-bar {
  background-color: #d9dce2;
  border-radius: 4px;
}
body main div.progress div.status progress::-moz-progress-value {
  background-color: #76ac5c;
  border-radius: 4px;
}
body main div.progress div.status progress.bidding::-moz-progress-value {
  background-color: #a6e7f7;
}
body main div.progress div.status progress.bidding::-moz-progress-value {
  background-color: #a6e7f7;
}
body main div.progress div.status progress.bid-canceled::-moz-progress-value {
  background-color: #cfbbaf;
}
body main div.progress a.envelope {
  position: absolute;
  display: block;
  top: 33px;
  left: -10px;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  background-image: url("../img/svg/envelope.svg");
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: 4px 4px;
}
body main div.progress a.envelope.aqua-ticket {
  background-color: #a6e7f7;
}
body main div.canceled {
  opacity: .6;
}
body main div.title {
  width: 31%;
  white-space: nowrap;
  box-sizing: border-box;
}
body main div.title p {
  padding-left: 2em;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
body main div.deadline {
  width: 15%;
}
body main div.status {
  width: 19%;
}
body main div.assign {
  width: 15%;
}
body main div.assign div.rating p:last-of-type {
  position: relative;
}
body main div.assign div.rating p:last-of-type::before {
  position: absolute;
  display: block;
  top: 1px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-image: url(../img/svg/star.svg);
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
  z-index: 3;
}
body main div.assign div.rating img {
  width: 14px;
  float: left;
}
body main div.value {
  width: 13%;
}
body main div.id {
  width: 7%;
}
body main footer {
  position: relative;
  width: 98%;
  max-width: 1200px;
  min-width: 768px;
}
body main footer p {
  position: absolute;
  font-size: 0.88em;
  bottom: -150px;
  left: 13px;
  color: #a1a7af;
}
